.m-108, .m-109, .m-106, .m-107, .m-96,
.m-99, .m-104, .m-93, .m-100, .m-101,
.m-102, .m-94, .m-97, .m-103, .m-95,
.m-98, .m-31, .m-72, .m-27, .m-36,
.m-38, .m-68, .m-77, .m-79, .m-01,
.m-02, .m-03, .m-04, .m-05, .m-06,
.m-07, .m-08, .m-09, .m-10, .m-11,
.m-12, .m-13, .m-14, .m-15, .m-16,
.m-17, .m-18, .m-19, .m-20, .m-21,
.m-22, .m-23, .m-24, .m-25, .m-28,
.m-29, .m-30, .m-34, .m-35, .m-37,
.m-39, .m-41, .m-42, .m-43, .m-44,
.m-45, .m-46, .m-47, .m-48, .m-49,
.m-50, .m-51, .m-52, .m-53, .m-54,
.m-55, .m-56, .m-57, .m-58, .m-59,
.m-60, .m-61, .m-62, .m-63, .m-64,
.m-65, .m-66, .m-69, .m-70, .m-71,
.m-75, .m-76, .m-78, .m-80, .m-82,
.m-83, .m-84, .m-85, .m-86, .m-87,
.m-88, .m-89, .m-90, .m-91, .m-26,
.m-33, .m-40, .m-67, .m-74, .m-81,
.m-32, .m-73
{ max-width: 100%; background-size: 100%; background-image: url('images/icon_ver2.png'); }

.m-108 { background-position: 0 0%; background-size: 100%; }
.m-109 { background-position: 0 2.905028%; background-size: 100%; }
.m-106 { background-position: 0 5.810056%; background-size: 101.639344%; }
.m-107 { background-position: 0 8.715084%; background-size: 108.77193%; }
.m-96 { background-position: 0 11.479029%; background-size: 187.878788%; }
.m-99 { background-position: 0 13.134658%; background-size: 193.75%; }
.m-104 { background-position: 0 14.790287%; background-size: 200%; }
.m-93 { background-position: 0 16.445916%; background-size: 200%; }
.m-100 { background-position: 0 18.101545%; background-size: 206.666667%; }
.m-101 { background-position: 0 19.757174%; background-size: 206.666667%; }
.m-102 { background-position: 0 21.412804%; background-size: 206.666667%; }
.m-94 { background-position: 0 23.068433%; background-size: 206.666667%; }
.m-97 { background-position: 0 24.724062%; background-size: 206.666667%; }
.m-103 { background-position: 0 26.379691%; background-size: 213.793103%; }
.m-95 { background-position: 0 28.03532%; background-size: 229.62963%; }
.m-98 { background-position: 0 29.690949%; background-size: 229.62963%; }
.m-31 { background-position: 0 31.07221%; background-size: 387.5%; }
.m-72 { background-position: 0 31.838074%; background-size: 387.5%; }
.m-27 { background-position: 0 32.603939%; background-size: 413.333333%; }
.m-36 { background-position: 0 33.369803%; background-size: 413.333333%; }
.m-38 { background-position: 0 34.135667%; background-size: 413.333333%; }
.m-68 { background-position: 0 34.901532%; background-size: 413.333333%; }
.m-77 { background-position: 0 35.667396%; background-size: 413.333333%; }
.m-79 { background-position: 0 36.43326%; background-size: 413.333333%; }
.m-01 { background-position: 0 37.199125%; background-size: 442.857143%; }
.m-02 { background-position: 0 37.964989%; background-size: 442.857143%; }
.m-03 { background-position: 0 38.730853%; background-size: 442.857143%; }
.m-04 { background-position: 0 39.496718%; background-size: 442.857143%; }
.m-05 { background-position: 0 40.262582%; background-size: 442.857143%; }
.m-06 { background-position: 0 41.028446%; background-size: 442.857143%; }
.m-07 { background-position: 0 41.794311%; background-size: 442.857143%; }
.m-08 { background-position: 0 42.560175%; background-size: 442.857143%; }
.m-09 { background-position: 0 43.326039%; background-size: 442.857143%; }
.m-10 { background-position: 0 44.091904%; background-size: 442.857143%; }
.m-11 { background-position: 0 44.857768%; background-size: 442.857143%; }
.m-12 { background-position: 0 45.623632%; background-size: 442.857143%; }
.m-13 { background-position: 0 46.389497%; background-size: 442.857143%; }
.m-14 { background-position: 0 47.155361%; background-size: 442.857143%; }
.m-15 { background-position: 0 47.921225%; background-size: 442.857143%; }
.m-16 { background-position: 0 48.68709%; background-size: 442.857143%; }
.m-17 { background-position: 0 49.452954%; background-size: 442.857143%; }
.m-18 { background-position: 0 50.218818%; background-size: 442.857143%; }
.m-19 { background-position: 0 50.984683%; background-size: 442.857143%; }
.m-20 { background-position: 0 51.750547%; background-size: 442.857143%; }
.m-21 { background-position: 0 52.516411%; background-size: 442.857143%; }
.m-22 { background-position: 0 53.282276%; background-size: 442.857143%; }
.m-23 { background-position: 0 54.04814%; background-size: 442.857143%; }
.m-24 { background-position: 0 54.814004%; background-size: 442.857143%; }
.m-25 { background-position: 0 55.579869%; background-size: 442.857143%; }
.m-28 { background-position: 0 56.345733%; background-size: 442.857143%; }
.m-29 { background-position: 0 57.111597%; background-size: 442.857143%; }
.m-30 { background-position: 0 57.877462%; background-size: 442.857143%; }
.m-34 { background-position: 0 58.643326%; background-size: 442.857143%; }
.m-35 { background-position: 0 59.40919%; background-size: 442.857143%; }
.m-37 { background-position: 0 60.175055%; background-size: 442.857143%; }
.m-39 { background-position: 0 60.940919%; background-size: 442.857143%; }
.m-41 { background-position: 0 61.706783%; background-size: 442.857143%; }
.m-42 { background-position: 0 62.472648%; background-size: 442.857143%; }
.m-43 { background-position: 0 63.238512%; background-size: 442.857143%; }
.m-44 { background-position: 0 64.004376%; background-size: 442.857143%; }
.m-45 { background-position: 0 64.770241%; background-size: 442.857143%; }
.m-46 { background-position: 0 65.536105%; background-size: 442.857143%; }
.m-47 { background-position: 0 66.301969%; background-size: 442.857143%; }
.m-48 { background-position: 0 67.067834%; background-size: 442.857143%; }
.m-49 { background-position: 0 67.833698%; background-size: 442.857143%; }
.m-50 { background-position: 0 68.599562%; background-size: 442.857143%; }
.m-51 { background-position: 0 69.365427%; background-size: 442.857143%; }
.m-52 { background-position: 0 70.131291%; background-size: 442.857143%; }
.m-53 { background-position: 0 70.897155%; background-size: 442.857143%; }
.m-54 { background-position: 0 71.66302%; background-size: 442.857143%; }
.m-55 { background-position: 0 72.428884%; background-size: 442.857143%; }
.m-56 { background-position: 0 73.194748%; background-size: 442.857143%; }
.m-57 { background-position: 0 73.960613%; background-size: 442.857143%; }
.m-58 { background-position: 0 74.726477%; background-size: 442.857143%; }
.m-59 { background-position: 0 75.492341%; background-size: 442.857143%; }
.m-60 { background-position: 0 76.258206%; background-size: 442.857143%; }
.m-61 { background-position: 0 77.02407%; background-size: 442.857143%; }
.m-62 { background-position: 0 77.789934%; background-size: 442.857143%; }
.m-63 { background-position: 0 78.555799%; background-size: 442.857143%; }
.m-64 { background-position: 0 79.321663%; background-size: 442.857143%; }
.m-65 { background-position: 0 80.087527%; background-size: 442.857143%; }
.m-66 { background-position: 0 80.853392%; background-size: 442.857143%; }
.m-69 { background-position: 0 81.619256%; background-size: 442.857143%; }
.m-70 { background-position: 0 82.38512%; background-size: 442.857143%; }
.m-71 { background-position: 0 83.150985%; background-size: 442.857143%; }
.m-75 { background-position: 0 83.916849%; background-size: 442.857143%; }
.m-76 { background-position: 0 84.682713%; background-size: 442.857143%; }
.m-78 { background-position: 0 85.448578%; background-size: 442.857143%; }
.m-80 { background-position: 0 86.214442%; background-size: 442.857143%; }
.m-82 { background-position: 0 86.980306%; background-size: 442.857143%; }
.m-83 { background-position: 0 87.746171%; background-size: 442.857143%; }
.m-84 { background-position: 0 88.512035%; background-size: 442.857143%; }
.m-85 { background-position: 0 89.277899%; background-size: 442.857143%; }
.m-86 { background-position: 0 90.043764%; background-size: 442.857143%; }
.m-87 { background-position: 0 90.809628%; background-size: 442.857143%; }
.m-88 { background-position: 0 91.575492%; background-size: 442.857143%; }
.m-89 { background-position: 0 92.341357%; background-size: 442.857143%; }
.m-90 { background-position: 0 93.107221%; background-size: 442.857143%; }
.m-91 { background-position: 0 93.873085%; background-size: 442.857143%; }
.m-26 { background-position: 0 94.63895%; background-size: 476.923077%; }
.m-33 { background-position: 0 95.404814%; background-size: 476.923077%; }
.m-40 { background-position: 0 96.170678%; background-size: 476.923077%; }
.m-67 { background-position: 0 96.936543%; background-size: 476.923077%; }
.m-74 { background-position: 0 97.702407%; background-size: 476.923077%; }
.m-81 { background-position: 0 98.468271%; background-size: 476.923077%; }
.m-32 { background-position: 0 99.234136%; background-size: 516.666667%; }
.m-73 { background-position: 0 100%; background-size: 516.666667%; }































.i-108, .i-109, .i-106, .i-107, .i-96,
.i-99, .i-104, .i-93, .i-100, .i-101,
.i-102, .i-94, .i-97, .i-103, .i-95,
.i-98, .i-31, .i-72, .i-27, .i-36,
.i-38, .i-68, .i-77, .i-79, .i-01,
.i-02, .i-03, .i-04, .i-05, .i-06,
.i-07, .i-08, .i-09, .i-10, .i-11,
.i-12, .i-13, .i-14, .i-15, .i-16,
.i-17, .i-18, .i-19, .i-20, .i-21,
.i-22, .i-23, .i-24, .i-25, .i-28,
.i-29, .i-30, .i-34, .i-35, .i-37,
.i-39, .i-41, .i-42, .i-43, .i-44,
.i-45, .i-46, .i-47, .i-48, .i-49,
.i-50, .i-51, .i-52, .i-53, .i-54,
.i-55, .i-56, .i-57, .i-58, .i-59,
.i-60, .i-61, .i-62, .i-63, .i-64,
.i-65, .i-66, .i-69, .i-70, .i-71,
.i-75, .i-76, .i-78, .i-80, .i-82,
.i-83, .i-84, .i-85, .i-86, .i-87,
.i-88, .i-89, .i-90, .i-91, .i-26,
.i-33, .i-40, .i-67, .i-74, .i-81,
.i-32, .i-73
{ display: inline-block; background: url('images/iconpc_ver2.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.i-108 { background-position: -0px -0px; width: 62px; height: 52px; }
.i-109 { background-position: -0px -52px; width: 62px; height: 52px; }
.i-106 { background-position: -0px -104px; width: 61px; height: 52px; }
.i-107 { background-position: -0px -156px; width: 57px; height: 52px; }
.i-96 { background-position: -0px -208px; width: 33px; height: 30px; }
.i-99 { background-position: -0px -238px; width: 32px; height: 30px; }
.i-104 { background-position: -0px -268px; width: 31px; height: 30px; }
.i-93 { background-position: -31px -268px; width: 31px; height: 30px; }
.i-100 { background-position: -0px -298px; width: 30px; height: 30px; }
.i-101 { background-position: -30px -298px; width: 30px; height: 30px; }
.i-102 { background-position: -0px -328px; width: 30px; height: 30px; }
.i-94 { background-position: -30px -328px; width: 30px; height: 30px; }
.i-97 { background-position: -0px -358px; width: 30px; height: 30px; }
.i-103 { background-position: -33px -208px; width: 29px; height: 30px; }
.i-95 { background-position: -30px -358px; width: 27px; height: 30px; }
.i-98 { background-position: -0px -388px; width: 27px; height: 30px; }
.i-31 { background-position: -32px -238px; width: 16px; height: 14px; }
.i-72 { background-position: -32px -252px; width: 16px; height: 14px; }
.i-27 { background-position: -27px -388px; width: 15px; height: 14px; }
.i-36 { background-position: -42px -388px; width: 15px; height: 14px; }
.i-38 { background-position: -27px -402px; width: 15px; height: 14px; }
.i-68 { background-position: -42px -402px; width: 15px; height: 14px; }
.i-77 { background-position: -27px -416px; width: 15px; height: 14px; }
.i-79 { background-position: -42px -416px; width: 15px; height: 14px; }
.i-01 { background-position: -48px -238px; width: 14px; height: 14px; }
.i-02 { background-position: -48px -252px; width: 14px; height: 14px; }
.i-03 { background-position: -0px -418px; width: 14px; height: 14px; }
.i-04 { background-position: -14px -430px; width: 14px; height: 14px; }
.i-05 { background-position: -28px -430px; width: 14px; height: 14px; }
.i-06 { background-position: -42px -430px; width: 14px; height: 14px; }
.i-07 { background-position: -0px -432px; width: 14px; height: 14px; }
.i-08 { background-position: -14px -444px; width: 14px; height: 14px; }
.i-09 { background-position: -28px -444px; width: 14px; height: 14px; }
.i-10 { background-position: -42px -444px; width: 14px; height: 14px; }
.i-11 { background-position: -0px -446px; width: 14px; height: 14px; }
.i-12 { background-position: -14px -458px; width: 14px; height: 14px; }
.i-13 { background-position: -28px -458px; width: 14px; height: 14px; }
.i-14 { background-position: -42px -458px; width: 14px; height: 14px; }
.i-15 { background-position: -0px -460px; width: 14px; height: 14px; }
.i-16 { background-position: -14px -472px; width: 14px; height: 14px; }
.i-17 { background-position: -28px -472px; width: 14px; height: 14px; }
.i-18 { background-position: -42px -472px; width: 14px; height: 14px; }
.i-19 { background-position: -0px -474px; width: 14px; height: 14px; }
.i-20 { background-position: -14px -486px; width: 14px; height: 14px; }
.i-21 { background-position: -28px -486px; width: 14px; height: 14px; }
.i-22 { background-position: -42px -486px; width: 14px; height: 14px; }
.i-23 { background-position: -0px -488px; width: 14px; height: 14px; }
.i-24 { background-position: -14px -500px; width: 14px; height: 14px; }
.i-25 { background-position: -28px -500px; width: 14px; height: 14px; }
.i-28 { background-position: -42px -500px; width: 14px; height: 14px; }
.i-29 { background-position: -0px -502px; width: 14px; height: 14px; }
.i-30 { background-position: -14px -514px; width: 14px; height: 14px; }
.i-34 { background-position: -28px -514px; width: 14px; height: 14px; }
.i-35 { background-position: -42px -514px; width: 14px; height: 14px; }
.i-37 { background-position: -0px -516px; width: 14px; height: 14px; }
.i-39 { background-position: -14px -528px; width: 14px; height: 14px; }
.i-41 { background-position: -28px -528px; width: 14px; height: 14px; }
.i-42 { background-position: -42px -528px; width: 14px; height: 14px; }
.i-43 { background-position: -0px -530px; width: 14px; height: 14px; }
.i-44 { background-position: -14px -542px; width: 14px; height: 14px; }
.i-45 { background-position: -28px -542px; width: 14px; height: 14px; }
.i-46 { background-position: -42px -542px; width: 14px; height: 14px; }
.i-47 { background-position: -0px -544px; width: 14px; height: 14px; }
.i-48 { background-position: -14px -556px; width: 14px; height: 14px; }
.i-49 { background-position: -28px -556px; width: 14px; height: 14px; }
.i-50 { background-position: -42px -556px; width: 14px; height: 14px; }
.i-51 { background-position: -0px -558px; width: 14px; height: 14px; }
.i-52 { background-position: -14px -570px; width: 14px; height: 14px; }
.i-53 { background-position: -28px -570px; width: 14px; height: 14px; }
.i-54 { background-position: -42px -570px; width: 14px; height: 14px; }
.i-55 { background-position: -0px -572px; width: 14px; height: 14px; }
.i-56 { background-position: -14px -584px; width: 14px; height: 14px; }
.i-57 { background-position: -28px -584px; width: 14px; height: 14px; }
.i-58 { background-position: -42px -584px; width: 14px; height: 14px; }
.i-59 { background-position: -0px -586px; width: 14px; height: 14px; }
.i-60 { background-position: -14px -598px; width: 14px; height: 14px; }
.i-61 { background-position: -28px -598px; width: 14px; height: 14px; }
.i-62 { background-position: -42px -598px; width: 14px; height: 14px; }
.i-63 { background-position: -0px -600px; width: 14px; height: 14px; }
.i-64 { background-position: -14px -612px; width: 14px; height: 14px; }
.i-65 { background-position: -28px -612px; width: 14px; height: 14px; }
.i-66 { background-position: -42px -612px; width: 14px; height: 14px; }
.i-69 { background-position: -0px -614px; width: 14px; height: 14px; }
.i-70 { background-position: -14px -626px; width: 14px; height: 14px; }
.i-71 { background-position: -28px -626px; width: 14px; height: 14px; }
.i-75 { background-position: -42px -626px; width: 14px; height: 14px; }
.i-76 { background-position: -0px -628px; width: 14px; height: 14px; }
.i-78 { background-position: -14px -640px; width: 14px; height: 14px; }
.i-80 { background-position: -28px -640px; width: 14px; height: 14px; }
.i-82 { background-position: -42px -640px; width: 14px; height: 14px; }
.i-83 { background-position: -0px -642px; width: 14px; height: 14px; }
.i-84 { background-position: -14px -654px; width: 14px; height: 14px; }
.i-85 { background-position: -28px -654px; width: 14px; height: 14px; }
.i-86 { background-position: -42px -654px; width: 14px; height: 14px; }
.i-87 { background-position: -0px -656px; width: 14px; height: 14px; }
.i-88 { background-position: -14px -668px; width: 14px; height: 14px; }
.i-89 { background-position: -28px -668px; width: 14px; height: 14px; }
.i-90 { background-position: -42px -668px; width: 14px; height: 14px; }
.i-91 { background-position: -0px -670px; width: 14px; height: 14px; }
.i-26 { background-position: -14px -682px; width: 13px; height: 14px; }
.i-33 { background-position: -27px -682px; width: 13px; height: 14px; }
.i-40 { background-position: -40px -682px; width: 13px; height: 14px; }
.i-67 { background-position: -0px -684px; width: 13px; height: 14px; }
.i-74 { background-position: -13px -696px; width: 13px; height: 14px; }
.i-81 { background-position: -26px -696px; width: 13px; height: 14px; }
.i-32 { background-position: -39px -696px; width: 12px; height: 14px; }
.i-73 { background-position: -0px -698px; width: 12px; height: 14px; }